head
	link(href='/background.css', rel='stylesheet')



each question in questions
	form(action="/answermultiplechoice" method="post")
		p=question.question
		input(type="hidden" name="questionid" value=question._id)
		ul
			each answer in question.answers
				li
					input(type="radio",name="answer", value=answer._id)
					span=answer.answer
		input(type="submit")
		br
		hr