head
	link(href='/background.css', rel='stylesheet')
	link(href='https://fonts.googleapis.com/css?family=Libre Franklin',rel='stylesheet')

h1 Eclectic Home



div(class="login")
	div(class="login-form")
		a(href="/generalinfo") General info
		br
		a(href="/admin") Admin
		br
		a(href="/answerquestions") answerquestions
		br
		a(href="/answerquestions2") answerquestions2
		br
		a(href="/picktime") PickTime
		br
		a(href="/match") match