head
	link(href='/background.css', rel='stylesheet')


h1 Eclectic Home


a(href="/generalinfo") General info
br
a(href="/admin") Admin
br
a(href="/answerquestions") answerquestions
br
a(href="/answerquestions2") answerquestions2