head
	link(rel="stylesheet",href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
	link(href='/background.css', rel='stylesheet')

h1 Eclectic - Log In





form(action="/login" method="post", autocomplete="on")
	label Email
	input(type="text",class="form-control",name="email",value="test")
	label Password
	input(type="text",class="form-control",name="password",value="test")

	button(type="submit") Signup



