head
	link(rel="stylesheet",href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
	link(href='/background.css', rel='stylesheet')

div(class="login-header")
	h4 Eclectic - Log In




div(class="login")
	form(action="/login" method="post", autocomplete="on")
		h3(class="login-form") Email
		input(type="text",class="form-control",name="email",value="test")
		h3(class="login-form") Password
		input(type="text",class="form-control",name="password",value="test")
		div(class="login-form")
			button(type="submit",class="form-control login-form") Signup