head
	link(href='/background.css', rel='stylesheet')
	script(src="/DragDropTouch.js")

div(id="columns",group="group") 
	each user in users
		div(class="column",draggable="true",id=user._id)
			header=user.local.email+" "
			p=user.age
			img(src="http://www.bowerplace.com.au/wp-content/themes/bridge-child/img/default_avatar_community.png")

div(id="throwout",group="group") 

button Sorted
script(src="/match.js")